@using Communication.DTOs;
<div class="container">
    <h3>Usuarios cadastrados</h3>
    <div class="d-flex justify-content-end">
        <a class="btn btn-success col-3" href="/User/Create" style="margin-top:10px;">Novo Usuario</a>
    </div>
    <hr />
    <table id="tb" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Usuario</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(ViewBag.Users != null)
            {
                @foreach (var x in (List<UserDTO>)ViewBag.Users)
                {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.UserName</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@x.Id" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>