@{
    Layout = null;
}
@model Communication.Models.MUser


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.styles.css" asp-append-version="true" />
    <style>
        .form{
            max-width: 500px;
            position: absolute;
            top: 30%;
            left: 40%;
        }
    </style>
</head>
<body>
    <form asp-controller="User" asp-action="Login" class="form">
        <h3 class="mb-3">Gerenciador de Arquivos</h3>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Usuario</label>
            <input type="text" id="form2Example1" class="form-control" asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2  asp-for=">Senha</label>
            <input type="password" id="form2Example2" class="form-control" asp-for="PasswordHash"/>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>